* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

.container {
    width: 100%;
    height: 500px;
}

.component {
    width: 33.33%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

.col {
    border: 1px solid black;
    background-color: gray;
}

#chicken {
    background-color: chocolate;
}

#beef {
    background-color: coral;
    color: #ffffff;
}

#sushi {
    background-color: yellow;
}

.title {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    float: right;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
}

.content {
    clear: right;
    margin: 10px;
    padding: 10px;
}

.clear {
    clear: left;
}