* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

p {
    width: 90%;
    margin: 0 auto;
}

.container {
    width: 100%;
}

.component {
    width: 32%;
    margin-left: 15px;
    border: 1px solid black;
    float: left;
}

.title {
    width: 20%;
    margin-bottom: 10px;
    float: right;
}

.title p {
    text-align: center;
    border: 1px solid black;
}

.content {
    clear: right;
    margin-bottom: 10px;
}