* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 120%;
    margin: 0;
    padding: 0;
}

h2 {
    color: red;
    text-align: center;
}

.highlight {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    background-color: green;
    opacity: .6;
}

.style {
    font-family: Arial, Helvetica, sans-serif;
    color: #0000ff;
    font-style: italic;
    font-weight: bold; 
    font-size: 24px;
    text-transform: uppercase;
    text-align: right;
}

#mainPoint {
    font-size: 24px;
    font-weight: bold;
    /*background-color: red;*/
}

#mainPoint li {
    list-style: none;
}

#mainPoint li:nth-child(2) {
    font-size: 24px;

}

#mainPoint li ul li:nth-child(odd) {
    background-color: green;
    
}

#mainPoint li ul li:nth-child(2):hover {
    background-color: gray;
    cursor: pointer;
    
}

p, h1 {
    color: blue;
    text-align: center;
}

p#pig {
    font-size: 25px;
}

article > p {
    color: blue;
    /*background-color: black;*/
}

.art1 {
    background-color: burlywood;
}

.art2 {
    font-size: larger;
}

a:link, a:visited {
    text-decoration: none;
    background-color: green;
    border: 1px solid blue;
    color: black;
    display: block;
    width: 200px;
    text-align: center;
    margin-bottom: 1px;
}

a:hover, a:active {
    background-color: red;;
    color: purple;
}

#box {
    background-color: blue;
    padding: 10px; /* all (top right bot left */
    border: 3px solid black;
    margin: 40px;
    width: 300px;
    height: 50px;
    overflow: auto;

}

#content {
    background-color: #90ee90;
}

.floating {
    /* background-color: #00ffff; */
}

.floating p {
    width: 25%;
    /* border: 1px solid black; */
    float: left;
    padding: 10px;
}

.floating section {
    clear: left;
}


div#container {
    background-color: #00ffff;
    position: relative;
    top: 60px;
    
}

#container p {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin-bottom: 15px;
    
}

#cp1 {
    background-color: #a52a2a;
    position: relative;
    top: 65px;
    left: 65px;
}

#cp2 {
    background-color: #deb887;

}

#cp3 {
    background-color: #5f9ea0;
    position: absolute;
    top: 0;
    left: 0;
}

#cp4 {
    background-color: #ff7d50;

}

div#mediaQ {
    position: relative;
    top: 60px;
    height: 600px;
    
}

#mediaQ p {
    margin-bottom: 15px;
}

#q1 {
    background-color: #a52a2a;
    width: 300px;
    height: 300px;
}

#q2 {
    background-color: #de8887;
    width: 50px;
    height: 50px;
    
}


/****** Large Device Only ******/
@media (min-width: 1200px) {
    #q1 {
        width: 80%;
    }

    #q2 {
        width: 100px;
        height: 100px;
    }
}

/****** Minimum Device Only ******/
@media (min-width: 992px) and (max-width: 1199px) {
    #q1 {
        width: 50%;
    }

    #q2 {
        width: 60px;
        height: 60px;
    }
}